APP_PORT=3000

DATABASE_DRIVER="postgres"
DATABASE_URL="postgres://localhost:5432/films"
DATABASE_USERNAME="postgres"
DATABASE_PASSWORD="123"

CORS_ORIGIN=http://localhost:5173 # Сюда домен вашего фронта, обычно действий не требует для локального запуска, но порт может меняться
CORS_METHODS=GET,HEAD,PUT,PATCH,POST,DELETE
CORS_CREDENTIALS=false

DEBUG=*
