APP_PORT=3000

DATABASE_DRIVER="postgres"
DATABASE_URL="postgres://localhost:5432/yp"
DATABASE_USERNAME="postgres"
DATABASE_PASSWORD="123"


CORS_ORIGIN=http://localhost:5173 
CORS_METHODS=GET,HEAD,PUT,PATCH,POST,DELETE
CORS_CREDENTIALS=false

DEBUG=*
